/*
    Common
*/

:root {
    --bg-color: #e9ffe0;
    --link-bg-color: #438e20;
    --link-color: white;
    --title-color: #0b2d2c;
    --text-color: #25211d;
    --special-text-color: #0e350a;
    --title2-bg-color: white;
    --border-color: #4ea345;
    --footer-bg-color: black;
    --footer-text-color: white;
    --photo-animation-time: 0.2s;
    --line-size: 5px;
}

@keyframes slide {
    from {
        top: -60%;
        opacity: 0;
    }

    to {
        top: -130%;
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.em {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.uppercase {
    text-transform: uppercase;
}

.strong {
    font-weight: bold;
}

a {
    color: var(--text-color)
}

a:visited {
    color: var(--text-color)
}

a.specialLink {
    position: relative;
    display: block;
    width: 45vw;
    color: var(--link-color);
    background-color: var(--link-bg-color);
    padding: 2em 0.5em;
    border-radius: 70px;
    font-size: 1.2em;
    text-align: center;
}

a.specialLink:visited {
    color: var(--link-color);
}

/*
    General
*/

html {
    padding: 0;
    margin: 0;
    font-family: "Vend Sans", sans-serif;
    overflow-x: hidden;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    overflow-x: hidden;
    color: var(--text-color);
}

/*
    Upper Title
*/

h1 {
    position: fixed;
    text-align: right;
    margin: 0;
    width: 100vw;
    background-color: var(--title2-bg-color);
    box-sizing: border-box;
    font-size: 0.9rem;
    font-weight: 700;
    padding: 1em;
    z-index: 2;    
}

/*
    Project Description
*/

div#projectIntro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding-top: 3em;
}

div#projectIntro h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--title-color);
    border-top: var(--line-size) solid var(--border-color);
    padding-top: 0.5em;
    font-size: 3.5em;
    width: 85vw;
    margin-bottom: -0.5em;
}

h2::before {
    display: inline;
    content: "";
    width: 200px;
    height: 200px;
    background-image: url("../images/mappare_curare_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

div#projectIntro p {
    text-align: center;
    width: 85vw;
    font-size: 1.5em;
    padding-bottom: 1em;
    border-bottom: var(--line-size) solid var(--border-color);
}

/*
    Map link area
*/

div#mapLinkDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

div#mapLinkDiv::after {
    content: "";
    display: block;
    width: 90%;
    height: var(--line-size);
    background-color: var(--border-color);
    margin: 0 auto;   
}

div#mapLinkDiv p {
    font-size: 2em;
    margin-top: 0;
    max-width: 85vw;
}

div#mapLinkDiv p::before {
    display: block;
    content: "";
    background-image: url("../images/tree.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 230px;
}

div#mapLinkDiv a {
    margin-top: 110px;
    margin-bottom: 2em;
}

div#mapLinkDiv a::before {
   position: absolute;
    display: block;
    content: "";
    background-image: url("../images/arrow.svg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: contain;
    top: -130%;
    width: 104px;
    height: 106px;
    rotate: -35deg;
    animation: slide 0.7s ease-out;
}

div#mapLinkDiv a::after {
   position: absolute;
    display: block;
    content: "";
    background-image: url("../images/arrow.svg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain;
    top: -130%;
    right: 0;
    width: 104px;
    height: 106px;
    rotate: 35deg;
    animation: slide 0.7s ease-out;
    animation-delay: 0.2s;
}

/*
    Announcements
*/

div#announcements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 2em;
}

div#announcements h4 {
    font-size: 2em;
}

div#announcements p {
    font-size: 1.5em;
    width: 85vw;
}

div#announcements::after {
    content: "";
    display: block;
    width: 90%;
    height: var(--line-size);
    background-color: var(--border-color);
    margin: 0 auto;   
}

/*
    Project photos
*/

div#projectImageDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 10px; 
}

div#projectImageDiv img {
    height: 408px;
    width: 267px;
    object-fit: cover;
    opacity: 0;
}

div#projectImageDiv img:nth-child(1) {
    animation: fadeIn var(--photo-animation-time) ease-in forwards;
}

div#projectImageDiv img:nth-child(2) {
    width: 544px;
    height: 408px;
    animation: fadeIn var(--photo-animation-time) ease-in forwards;
    animation-delay: calc(var(--photo-animation-time))
}

@media (max-width: 1100px) {
  div#projectImageDiv img:nth-child(2) {
    order: 3; 
  }
}

div#projectImageDiv img:nth-child(3) {
    
    animation: fadeIn var(--photo-animation-time) ease-in forwards;
    animation-delay: calc(var(--photo-animation-time)*2)
}

/*
    Project Description
*/

div#projectDesc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

div#projectDesc p {
    font-size: 1.3em;
    max-width: 85vw
}

/*
    Join Us
*/

div#joinUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

div#joinUs p#joinUsDesc {
    font-size: 2em;
    color: var(--special-text-color);
    text-align: center;
    width: 85vw;
}

div#joinUs p#emailDesc, div#joinUs a#email {
    font-size: 1.5em;
    text-align: center;
}

div#joinUs::after {
    content: "";
    display: block;
    width: 90%;
    height: var(--line-size);
    background-color: var(--border-color);
    margin-top: 2em;
}

/*
    Credits
*/

div#partDesc {
    text-align: center;
}

div#partDesc h3 {
    text-align: center;
    font-weight: 800;
    font-size: 2em;
}

div#partDesc ul {
    max-width: 85vw;
    display: inline-block;
    text-align: center;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}

div#partDesc li {
    display: inline;
    list-style: none;
    margin-right: 0.2em;
}

/*
    Partners
*/

div#partLogo ul {
    text-align: center;
}

div#partLogo li {
    display: inline;
    list-style: none;
    margin: 1em;
}

div#partLogo img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

div#partLogo img#alidarte {
    width: 200px;
}

/*
    Regione Veneto
*/

div#regVeneto {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding-top: 1em;
}

div#regVeneto img {
    width: 160px;
    height: 120px;
}

div#regVeneto p {
    text-align: justify;
    max-width: 70%;
}

/*
    Special thanks section
*/

div#specialThanks p {
    text-align: center;
}

/*
    Footer
*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    margin-top: 1em;
}

footer p {
    margin: 0.5em;
    
}
