/*
    Common
*/

:root {
    --bg-start-color: #b6f8ab;
    --bg-end-color: #d7ffce;
    --link-bg-color: #4ea345;
    --link-color: white;
    --title-color: #0b2d2c;
    --text-color: #25211d;
    --title2-bg-color: white;
    --border-color: #4ea345;
    --footer-bg-color: black;
    --footer-text-color: white;
    --photo-animation-time: 0.2s
}

@keyframes slide {
    from {
        transform: translate(50%, -100%);
        opacity: 0;
    }

    to {
        transform: translate(50%, -50%);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*
    General
*/

html {
    padding: 0;
    margin: 0;
    font-family: "Vend Sans", sans-serif;
    overflow-x: hidden;
}

body {
    margin: 0;
    background-image: linear-gradient(to bottom, var(--bg-start-color), var(--bg-end-color));
    color: var(--text-color)
}

/*
    Main Title
*/

h1 {
    position: fixed;
    text-align: right;
    margin: 0;
    width: 100vw;
    background-color: var(--title2-bg-color);
    box-sizing: border-box;
    font-size: 0.9rem;
    font-weight: 700;
    padding: 1em;
    z-index: 2;    
}

/*
    Project Description
*/

div#projectIntro {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
    padding-top: 3em;
}

div#descDiv {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    width: 45vw;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--title-color);
    border-top: 0.2em solid var(--border-color);
    padding-top: 0.5em;
}

h2::before {
    display: inline;
    content: "";
    width: 100px;
    height: 100px;
    background-image: url("../images/mappare_curare_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}

div#descDiv p {
    text-align: justify;
}

a#mapLink {
    position: relative;
    display: block;
    max-width: 35vw;
    color: var(--link-color);
    background-color: var(--link-bg-color);
    padding: 2em 0.5em;
    border-radius: 70px;
    font-size: 1.2em;
    text-align: center;
}

a#mapLink::after {
    position: absolute;
    display: block;
    content: "";
    background-image: url("../images/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    bottom: -90%;
    left: 50%;
    transform: translate(50%, -50%);
    rotate: 195deg;
    width: 150px;
    height: 130px;
    pointer-events: none;
    animation: slide 0.7s ease-out;
}

/*
    Project Description
*/

div#projectDesc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

div#projectDesc p {
    font-size: 1.3em;
    max-width: 80%;
}

div#projectDesc p#mapHint {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2em;
    max-width: 80vw;
    border-bottom: 0.2em solid var(--border-color);
    padding-bottom: 0.5em;
}

/*
    Project photos
*/

div#projectImageDiv {
  display: grid;
  grid-template-columns: 250px;
  justify-content: center;
  gap: 1em;
  max-width: 1200px;
  margin: 0 auto;
}

div#projectImageDiv img {
  height: 350px;
  width: 250px;
  object-fit: cover;
  opacity: 0;
}

div#projectImageDiv img:nth-child(1) {
    animation: fadeIn var(--photo-animation-time) ease-in forwards;
}

div#projectImageDiv img:nth-child(2) {
    animation: fadeIn var(--photo-animation-time) ease-in forwards;
    animation-delay: calc(var(--photo-animation-time))
}

div#projectImageDiv img:nth-child(3) {
    animation: fadeIn var(--photo-animation-time) ease-in forwards;
    animation-delay: calc(var(--photo-animation-time)*2)
}

div#projectImageDiv img:nth-child(4) {
    animation: fadeIn var(--photo-animation-time) ease-in forwards;
    animation-delay: calc(var(--photo-animation-time)*3)
}

@media (min-width: 600px) {
  div#projectImageDiv {
    grid-template-columns: repeat(2, 250px);
  }
}

@media (min-width: 1200px) {
  div#projectImageDiv {
    grid-template-columns: repeat(4, 250px);
  }
}

/*
    Credits
*/

div#partDesc h3 {
    text-align: center;
    font-weight: 800;
    font-size: 2em;
}

div#partDesc ul {
    text-align: center;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}

div#partDesc li {
    display: inline;
    list-style: none;
    margin-right: 0.2em;
}

div#partDesc p {
    text-align: center;
    font-size: 1.2em;
    margin-top: 0;
    padding: 0;
}

/*
    Partners
*/

div#partLogo ul {
    text-align: center;
}

div#partLogo li {
    display: inline;
    list-style: none;
    margin: 1em;
}

div#partLogo img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

div#partLogo img#alidarte {
    width: 200px;
}

/*
    Regione Veneto
*/

div#regVeneto::before {
    display: block;
    content: "";
    background-color: var(--border-color);
    width: 95vw;
    height: 0.2em;
}

div#regVeneto {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding-top: 1em;
}

div#regVeneto img {
    width: 160px;
    height: 120px;
}

div#regVeneto p {
    text-align: justify;
    max-width: 70%;
}

/*
    Footer
*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    margin-top: 1em;
}

footer p {
    margin: 0.5em;
    
}
