/*
    Project Description
*/

div#projectIntro h2 {
    flex-direction: column;
    text-align: center;
}

/*
    Project photos
*/

div#projectImageDiv img:nth-child(2) {
    width: 85vw; 
}

/*
    Regione Veneto
*/

@media (min-width: 586px) {
    div#regVeneto p {
        max-width: 60%;
    }
}
