/*
    Project Description
*/

div#projectIntro {
    flex-direction: column;
    gap: 1em;
    padding-top: 2em;
}

div#descDiv {
    width: 80vw;
}

div#descDiv p {
    text-align: justify;
}

a#mapLink {
    max-width: 55vw;
    padding: 2em 0.5em;
    border-radius: 70px;
}

a#mapLink::after {
    bottom: -56%;
    right: 10%;
    rotate: 164deg;
    width: 150px;
    height: 130px;
}

/*
    Project Description
*/

div#projectDesc p#mapHint {
    margin-top: 5em;
}
