/*
    Project Description
*/

div#projectIntro h2 {
    flex-direction: column;
    text-align: center;
}

/*
    Announcements
*/

@media(max-width: 474px) {
    div#announcements h4 {
        font-size: 1.7em
    }
}

/*
    Project photos
*/

div#projectImageDiv img:nth-child(2) {
    width: 85vw; 
}

/*
    Regione Veneto
*/

@media (min-width: 586px) {
    div#regVeneto p {
        max-width: 60%;
    }
}
